{%extends 'grams/base.html'%}

 {% block content %}
 {{block.super}}
 <div class="container">
   <div class="col-md-6">
<h5>{{user.username}}</h5>
</div>
<div class="col-md-6">
  <img src="{{profile.photo.url}}" alt="" height='200' width='100' id='dp'>
<p>{{user.profile.bio}}</p>
<a href="/followers/{{profile.id}}"> <p>Followers:{{followers|length}}</p></a>
<p>Following:{{following|length}}</p>
<a href="/follow/{{profile.id}}"><button>Follow</button></a>

  {% for post in images %}
  <div class="row">
  <div class="col-md-4">
  <a href="/post/{{post.id}}"> <img src="{{post.image.url}}" alt="" height="300"></a>
</div>
</div>
{% endfor %}
  </div>
 </div>

 {% endblock %}