<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class=" navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: billabong;font-size:20px;">MyGram</a>
    </div>
   
    <div class="navbar-right">
        {% if user.is_authenticated %}
        <div>
            <a href="{%url 'profile' user.id %}"><i class="glyphicon glyphicon-user" style="color:white;margin-top:10px;margin-right: 5px;"></i></a>
          

        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-option-vertical" style="color:white;margin-top:10px;margin-right: 5px;"></i>
                      
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'home'%}">Home</a>
              </li>

                <li>
                    <a href="{%url 'edit_profile' user.id %}">Edit Profile</a>
                  </li>
              <li>
                <a href="{%url 'new-post'%}">Add post</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
      </div>
    </div>
    </div>
    
  </div>
  
</nav>
</body>
</html>